* {
  box-sizing: border-box;
  padding: 0px;
}
.etchSketchBlock {
  padding: 20px;
  border: 2px solid black;
}

.etchSketchBlock:hover {
  background-color: black;
}

.etchSketchBlockRow {
  display: flex;
}
